{% extends 'layout.html' %}
{% block body %}
<div class="nav-barto">
    <nav class="drk-navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse nav_items" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item "><a href="/home">Home</a></li>
                <li class="nav-item sexo"><a href="/login">Login</a></li>
                <li class="nav-item sexo"><a href="/register">Register</a></li>
            </ul>
        </div>    
    </nav>
</div>

{% endblock %}